.menu-show-slim{
    padding-left: 3.8rem;
}
.menu-show{
    padding-left: 15rem!important;
}
main{
    transition: all 0.2s ease-in-out!important;
}
.linkedInputForm .select-wrapper{
    margin :0;
}
.form-separator{
    margin: auto;
    text-align: center;
}
.form-separator::before,
.form-separator::after{    
    display: inline-block;
    content: "";
    border-top: 1.1px solid #929292;
    width: 30%;
    margin: 0 1rem;
    transform: translateY(-0.2rem);
}
body {
    font-family: Helvetica, sans-serif;
  }

.custom-select {
  height: calc(1.5em + .75rem + 5px);
  border:none;
  border-radius:0;
  border-bottom: 1px solid #ced4da;
  color: #757575;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
}
.custom-select:focus, .custom-select:active, .custom-select.active
{
  border:none;
  border-radius:0;
  border-bottom: 2px solid #e38700;
  box-shadow: none
}
  
  .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    padding-bottom: 0px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 41px;
    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
.dashed-separator{
    border-top:2px dashed rgb(201, 201, 201)
}

@media (max-width: 768px) { 
    main.menu-show{
        padding-left: 0rem!important;
    }
}
@media (min-width: 768px) { 
    main.menu-show{
        padding-left: 15rem;
    }
    .menu-show.menu-show-slim{
        padding-left: 3.8rem!important;
    }
}

